nav {
  position: absolute;
  background-color: #1A1A1A;
  width: 1920px;
  height: 81px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 1089px;
}

nav ul il {
display:inline-block;
list-style-type: none;}

nav ul il a{
color:#000;
display: block;
line-height:36px;
text-decoration: none;
padding:5px;
font-weight: bold;
}

ul li{
  text-align: left;
}

.all-h{
  color: #FFD700;
  position: absolute;
  width: 94px;
  height: 81px;
  left: 235px;
  right: 1591px;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.all-s{
  color: #FFD700;
  position: absolute;
  width: 112px;
  height: 81px;
  left: 366px;
  right: 1442px;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.all-cu{
  color: #FFD700;
  position: absolute;
  width: 161px;
  height: 81px;
  left: 515px;
  right: 1244px;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}


.bg-f{
  background-color: #222222;
  position: relative;
  width: 1920px;
  height: 1080px;
}

.homep-h1{
  position: absolute;
  width: 1375px;
  height: 85px;
  left: 822px;
  right: 273px;
  top: 81px;
  bottom: 914px;
  display: flex;
  flex-direction: row;
  align-items: center;

  color: rgb(204, 204, 204);
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -1.5%;
  text-align: center;
}

.homep-p1{
  position: absolute;
  width: 1292px;
  height: 68px;
  left: 884px;
  right: 314px;
  top: 136px;
  bottom: 966px;
  display: flex;
  flex-direction: row;
  align-items: center;
  
  color: rgb(153, 153, 153);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: -1.5%;
  text-align: center;
}

.homep-p2{
  position: absolute;
  width: 1825px;
  height: 132px;
  left: 35px;
  right: 40px;
  top: 174px;
  bottom: 744px;
  display: flex;
  flex-direction: row;
  align-items: center;
  
  color: rgb(153, 153, 153);
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: -1.5%;
  text-align: center;
}

.logo-img{
  position: absolute;
  width: 200px;
  height: 81px;
  left: 0;
  right: 1720px;
  top: 0;
  bottom: 0;
}

.hp-1{
  position: absolute;
  width: 481px;
  height: 283px;
  left: 39px;
  right: 1400px;
  top: -700px;
  bottom: 427px;
}

.hp-2{
  position: absolute;
  width: 712px;
  height: 505px;
  left: 536px;
  right: 672px;
  top: -700px;
  bottom: 205px;
}

.hp-3{
  position: absolute;
  width: 601px;
  height: 569px;
  left: 1279px;
  right: 40px;
  top: -700px;
  bottom: 141px;
}

.hp-4{
  position: absolute;
  width: 481px;
  height: 641px;
  left: 39px;
  right: 1400px;
  top: -400px;
  bottom: -226px;
}

.hp-5{
  position: absolute;
  width: 712px;
  height: 415px;
  left: 536px;
  right: 672px;
  top: -175px;
  bottom: -226px;
}

.hp-6{
  position: absolute;
  width: 601px;
  height: 336px;
  left: 1279px;
  right: 40px;
  top: -100px;
  bottom: -226px;
}

.rectangle1{
  position: absolute;
  width: 393px;
  height: 81px;
  left: 85px;
  right: 1442px;
  top: 110px;
  bottom: 985px;
  background: rgb(53, 53, 53);
}

.rectangle2{
  position: absolute;
  width: 387px;
  height: 81px;
  left: 540px;
  right: 993px;
  top: 110px;
  bottom: 979px;
  background: rgb(53, 53, 53);
}

.rectangle3{
  position: absolute;
  width: 388px;
  height: 81px;
  left: 988px;
  right: 544px;
  top: 110px;
  bottom: 979px;
  background: rgb(53, 53, 53);
}

.rectangle4{
  position: absolute;
  width: 399px;
  height: 81px;
  left: 1436px;
  right: 85px;
  top: 110px;
  bottom: 979px;
  background: rgb(53, 53, 53);
}

.g-r{
  color: #FFD700;
  position: absolute;
  width: 228px;
  height: 34px;
  left: 120px;
  right: 1529px;
  top: 0px;
  bottom: 1002px;
  display: flex;
  flex-direction: row;
  align-items: center;

  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: -1.5%;
  text-align: right;
}

.e-r{
  color: #FFD700;
  position: absolute;
  width: 241px;
  height: 34px;
  left: 120px;
  right: 1068px;
  top: 0px;
  bottom: 1002px;
  display: flex;
  flex-direction: row;
  align-items: center;

  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: -1.5%;
  text-align: center;
}

.a-r{
  color: #FFD700;
  position: absolute;
  width: 230px;
  height: 34px;
  left: 120px;
  right: 634px;
  top: 0px;
  bottom: 996px;
  display: flex;
  flex-direction: row;
  align-items: center;

  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: -1.5%;
  text-align: center;
}

.d-r{
  color: #FFD700;
  position: absolute;
  width: 205px;
  height: 34px;
  left: 140px;
  right: 181px;
  top: 0px;
  bottom: 1003px;
  display: flex;
  flex-direction: row;
  align-items: center;

  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: -1.5%;
  text-align: center;
}

.glasgow-room{
  position: absolute;
  width: 394px;
  height: 850px;
  left: 84px;
  right: 1442px;
  top: 191px;
  bottom: 44px;
}

.edinburgh-room{
  position: absolute;
  width: 387px;
  height: 850px;
  left: 540px;
  right: 993px;
  top: 191px;
  bottom: 44px;
}

.aberdeen-room{
  position: absolute;
  width: 388px;
  height: 850px;
  left: 988px;
  right: 544px;
  top: 191px;
  bottom: 44px;
}

.dundee-room{
  position: absolute;
  width: 399px;
  height: 850px;
  left: 1436px;
  right: 85px;
  top: 191px;
  bottom: 44px;
}

.rectangle5{
  position: absolute;
  width: 803px;
  height: 83px;
  left: 20px;
  right: 1097px;
  top: 104px;
  bottom: 983px;
  background: rgb(53, 53, 53);
}

.g-r-p{
  color: #FFD700;
  position: absolute;
  width: 569px;
  height: 30px;
  left: 300px;
  right: 1225px;
  top: -10px;
  bottom: 1009px;
  display: flex;
  flex-direction: row;
  align-items: center;

  font-family: Montserrat;
  font-size: 36px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -1.5%;
  text-align: center;
}

.gls-rmp{
  position: absolute;
  width: 533px;
  height: 316px;
  left: 842px;
  right: 545px;
  top: 104px;
  bottom: 3580px;
}

.gls-rmp1{
  position: absolute;
  width: 511px;
  height: 316px;
  left: 1394px;
  right: 15px;
  top: 104px;
  bottom: 3580px;
}

.gls-rmp2{
  position: absolute;
  width: 627px;
  height: 325px;
  left: 842px;
  right: 451px;
  top: 431px;
  bottom: 3244px;
}

.gls-rmp3{
  position: absolute;
  width: 417px;
  height: 325px;
  left: 1488px;
  right: 15px;
  top: 431px;
  bottom: 3244px;
}

.rectangle6{
  position: absolute;
  width: 417px;
  height: 325px;
  left: 1487px;
  right: 16px;
  top: 431px;
  bottom: 3244px;
  background: rgba(217, 217, 217, 0.7);
}

.mr-ph{
  position: absolute;
  width: 333px;
  height: 132px;
  left: 135px;
  right: 58px;
  top: 60px;
  bottom: 3340px;
  display: flex;
  flex-direction: row;
  align-items: center;

  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -1.5%;
  text-align: center;
}