/*This is main style file*/

/*colour sheme
Background: Light #f5f5f5
Headings: Dark blue #33475b
Paragraph: Charcoal gray #555555
Text: Black #000000
Accent: Teal #008080*/


.bg-light{
  background-color:#ffffff;
}
h1, h2{
  color:#33475b;
}
p{
  color:#555555;
}
a{
  text-decoration: none;
}
nav {
background-color: #EBE8E4; /*background colour of your choice/ border:1px solid #dedede; /*border around the nav menu/ color:#ffffff; /*font colour*/ display:block;
overflow:hidden;
width:100%;}

nav ul il {
display:inline-block;
list-style-type: none;}

nav ul il a{
color:#000;
display: block;
line-height:36px;
text-decoration: none;
padding:3px;
font-weight: bold;
}

img {
  border: 3px solid #8ea2c6;
  border-radius: 100px;
}

table {
  background-color: white;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
  text-align: centre;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

