/*This is main style file*/

/*colour sheme
- Background: #f2f8f0 (Light greenish-gray)
- Headings: #2e7d32 (Dark green)
- Paragraph: #4caf50 (Medium green)
- Text: #333333 (Dark gray)
- Accent: #8bc34a (Lime green)*/

.bg-light{
  background-color:#f2f8f0;
}
h1, h2{
  color:#2e7d32;
}
p{
  color: #4caf50;
}
a{
  text-decoration: none;
  height: 50px;
}